<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^article\/(.+)\.html$ article.php?name=$1 [L]
RewriteRule ^product\/(.+)\.html$ product.php?name=$1 [L]
RewriteRule ^category\/([^/_]+)[/]?$ category.php?name=$1 [L]
RewriteRule ^category\/([^/]+)_([0-9]+)[/]?$ category.php?name=$1&p=$2 [L]
RewriteRule ^comment.html$ comment.php [L]
RewriteRule ^sitemap.xml$ sitemap.php [L]
</IfModule>
<IfModule mod_headers.c>
<FilesMatch "＼.(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf)$">
Header set Cache-Control "max-age=604800, public"
</FilesMatch>
<FilesMatch "＼.(xml|txt)$">
Header set Cache-Control "max-age=18000, public, must-revalidate"
</FilesMatch>
<FilesMatch "＼.(html|htm|php|shtml)$">
Header set Cache-Control "max-age=3600, must-revalidate"
</FilesMatch>
</IfModule>